<h1>All purchases</h1>

<table>
  <tr>
    <th>Item name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @purchases.each do |purchase| %>
  <tr>
    <td><%= purchase.item_name %></td>
    <td><%= purchase.email %></td>
    <td><%= link_to 'Show', purchase %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Home', root_url%>
