<h1>Matt's Store</h1>

<table>
  <% @items.in_groups_of(3) do |row| %>
    <tr>
      <% row.each do |item| %>
      <% if !item.nil? %>
      <td style="vertical-align: top; width:200px">
        <b><%= item.name %></b></br>
        <%= image_tag item.image_path, :alt => item.name %></br>
        <%= number_to_currency(item.price) %></br>
        <%= link_to 'See More', item %>
      </td>
      <% end %>
      <% end %>
    </tr>
  <% end %>
</table>